@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuyJG.ttf) format('truetype');
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-center {
  display: flex;
  align-items: start;
  justify-content: center;
}
body {
  color: #ecf0f1;
  background-color: #2c3e50;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
