@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

// Variáveis
@sans-serif-font: "Raleway", sans-serif;
@serif-font: "Lora", serif;

@primary: #3498db;
@secondary: #ecf0f1;
@background-primary: #34495e;
@background-secondary: #2c3e50;

// Mixins
.flex-center {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.center {
  .flex-center();
  justify-content: center;
  flex-direction: column;
}

.center-top {
  .flex-center();
  justify-content: start;
  flex-direction: column;
}

.center-bottom {
  .flex-center();
  justify-content: end;
  flex-direction: column;
}

.center-left {
  .flex-center();
  flex-direction: row;
  justify-content: start;
}

.top-left {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.top-right {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.left-top {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: start;
  flex-direction: row;
}

.left-bottom {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: end;
  flex-direction: row;
}

.center-right {
  .flex-center();
  flex-direction: row;
  justify-content: end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: @secondary;
  background-color: @background-secondary;
  font-family: @sans-serif-font;
  width: 100%;
  height: 100vh;
}

div {
  .left-bottom();
}
