@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@sans-serif-font: font-family: "Raleway", sans-serif;
@serif-font: font-family: "Lora", serif;

body {
  font-family: @sans-serif-font;
}
